<script lang="ts" setup>
const props = defineProps({
  name: {
    type: String,
    default: ''
  },
  price: {
    type: [Number, String],
    default: 0
  }
});
defineEmits(['update:name', 'update:price', 'changer'])
function transform(value: any) {
  return isNaN(value) ? value : value.toString();
}
function readInputValue(event: Event) {
    return (event.target as HTMLInputElement).value;
}
function addItem() {
  let nameFormated = props.name.toString().trim();
  let priceFormated = parseInt(props.price.toString().trim());
  nameFormated = isNaN(parseInt(nameFormated)) ? nameFormated : '';
  if (nameFormated !== '' && !isNaN(priceFormated)) {
    return {
      price: priceFormated,
      name: nameFormated
    };
  } else {
    return '';
  }
}
</script>

<template>
  <h3>Dodaj nowy element</h3>
  <table id="shopping-list-table" class="table table-condensed table-hover">
      <thead>
          <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Akcja</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <input type="text" :value="name" @input="$emit('update:name', readInputValue($event))">
            </td>
            <td>
              <input type="number" :value="transform(price)" @input="$emit('update:price', readInputValue($event))">
            </td>
            <td>
              <button type="button" @click="$emit('changer', addItem())" class="btn btn-primary" ><i class="fa fa-plus"></i> Dodaj  </button>
            </td>
          </tr>
      </tbody>
  </table>
</template>

<style scoped>
h3 {
  margin-top: 40px;
}
th, td {
  text-align: left;
}
</style>
