<script lang="ts" setup>
import ShoppingListItem from '../components/ShoppingListItem.vue'
import ShoppingListAddItem from '../components/ShoppingListAddItem.vue'
import { ref } from 'vue'
const props = defineProps({
  name: {
    type: String,
    default: ''
  },
  price: {
    type: [Number, String],
    default: 0
  },
  list: {
    type: Object,
    default: function() {
      return [
        { price: 10, name: 'Element 1' },
        { price: 20, name: 'Element 2' },
        { price: 30, name: 'Element 3' }
      ];
    }
  }
});
const nameRef = ref(props.name);
const priceRef = ref(transform(props.price));
const listRef = ref(props.list);
function transform(value: any) {
  return isNaN(value) ? value : value.toString();
}
function updateList($event: object) {
  if (
      typeof $event === 'object' &&
      !Array.isArray($event)
  ) {
    listRef.value.push($event);
    listRef.value.forEach(function(item: object, index: number) {
        let listItemKey = ref(index);
        listItemKey.value++;
    });
  }
}
</script>

<template>
  <form id="shopping-list">
    <h2>Lista zakupów</h2>
    <table id="shopping-list-table" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tbody>
      <ShoppingListItem v-bind:key="index" v-for="(listItem, index) in listRef" :name="listItem.name" :price="listItem.price" />
      </tbody>
    </table>
    <ShoppingListAddItem v-on:changer="updateList($event)" v-model:name="nameRef" v-model:price="priceRef" />
  </form>
</template>

<style scoped>
  table {
    width: 100%;
  }
  table, th {
    border: 1px solid black;
  }
  th {
    text-align: left;
  }
</style>
