<script lang="ts" setup>
defineProps({
  name: {
    type: String,
    default: ''
  },
  price: {
    type: [Number, String],
    default: 0
  },
})
function transform(value: any) {
  return isNaN(value) ? value : value.toString();
}
</script>

<template>
  <tr>
    <td>{{name}}</td>
    <td>{{transform(price)}}</td>
  </tr>
</template>

<style scoped>
td {
  border: 1px solid black;
  text-align: left;
}
</style>
